@font-face {
  font-family: 'financeicons';
  src:  url('../font/financeicons2dd4.eot?tfqrgj');
  src:  url('../font/financeicons2dd4.eot?tfqrgj#iefix') format('embedded-opentype'),
    url('../font/financeicons2dd4.ttf?tfqrgj') format('truetype'),
    url('../font/financeicons2dd4.woff?tfqrgj') format('woff'),
    url('../font/financeicons2dd4.svg?tfqrgj#financeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="finance-icon-"], [class*=" finance-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'financeicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.finance-icon-wath-video:before {
  content: "\e900";
}
.finance-icon-Camera:before {
  content: "\e901";
}
.finance-icon-Email01:before {
  content: "\e902";
}
.finance-icon-Email02:before {
  content: "\e903";
}
.finance-icon-Facebook:before {
  content: "\e904";
}
.finance-icon-instagram:before {
  content: "\e905";
}
.finance-icon-map:before {
  content: "\e906";
}
.finance-icon-Phone:before {
  content: "\e907";
}
.finance-icon-search:before {
  content: "\e908";
}
.finance-icon-Twitter:before {
  content: "\e909";
}
.finance-icon-pen:before {
  content: "\e90a";
}
.finance-icon-award:before {
  content: "\e90b";
}
.finance-icon-playbutton:before {
  content: "\e90c";
}
.finance-icon-star:before {
  content: "\e90d";
}
.finance-icon-minus:before {
  content: "\e90e";
}
.finance-icon-plus:before {
  content: "\e90f";
}
.finance-icon-Playbutton1:before {
  content: "\e910";
}
.finance-icon-scroll:before {
  content: "\e911";
}
.finance-icon-phone2:before {
  content: "\e912";
}
.finance-icon-envelope:before {
  content: "\e913";
}
.finance-icon-safebox-3:before {
  content: "\e9a1";
}
.finance-icon-bulb:before {
  content: "\e9a4";
}
.finance-icon-signature-1:before {
  content: "\e9a5";
}
.finance-icon-businessman-1:before {
  content: "\e9ae";
}
.finance-icon-buildings-2:before {
  content: "\e9af";
}
.finance-icon-hammer-2:before {
  content: "\e9b0";
}
.finance-icon-cheque-2:before {
  content: "\e9b1";
}
.finance-icon-security:before {
  content: "\e9b7";
}
.finance-icon-bank-2:before {
  content: "\e9b8";
}
.finance-icon-bars-1:before {
  content: "\e9c9";
}
.finance-icon-graphic:before {
  content: "\e9dc";
}
.finance-icon-chat:before {
  content: "\e9e9";
}
.finance-icon-checkmark-outline:before {
  content: "\eae1";
}
.finance-icon-cheveron-down:before {
  content: "\eae2";
}
.finance-icon-cheveron-left:before {
  content: "\eae3";
}
.finance-icon-cheveron-right:before {
  content: "\eae8";
}
.finance-icon-cheveron-up:before {
  content: "\eae9";
}
.finance-icon-wath-video:before {
  content: "\eb63";
}
.finance-icon-chevron-left:before {
  content: "\f053";
}
.finance-icon-chevron-right:before {
  content: "\f054";
}
.finance-icon-chevron-up:before {
  content: "\f077";
}
.finance-icon-chevron-down:before {
  content: "\f078";
}
.finance-icon-shopping-cart:before {
  content: "\f07a";
}
.finance-icon-caret-down:before {
  content: "\f0d7";
}
.finance-icon-angle-up:before {
  content: "\f106";
}
.finance-icon-angle-down:before {
  content: "\f107";
}
.finance-icon-check-square:before {
  content: "\f14a";
}
